<link rel="stylesheet" href="/panel/css/trade/awardNew.css">
<script src="/js/global/jquery.mask.min.js"></script>
<script src="/js/global/moment.js"></script>


<section class="award-new-section">

    <div class="list-config-search-link-back">
        <a title="Voltar a home" class="class-loader" href="/painel/trademkt/main">
            <i class="ri-arrow-left-line"></i>
        </a>
        <a title="Novo relatório" class="class-loader" href="/painel/trademkt/award/new">
            <i class="ri-add-line"></i>
        </a>
    </div>

    <div class="award-new-title-box">
        <span style="font-size: 1.3rem;"><%= getName %></span>
        <span style="font-size: 0.9rem; margin-left: 9px;"><%= getValidation[0].jcv_award_registers_month %></span>
    </div>

    <form method="post" class="award-new-div-main">

        <% arrDataGet = JSON.parse(getValidation[0].jcv_award_registers_json) %>

        <div class="award-new-div-brand">
            <div style="background: black;" class="award-new-div-brand-title">
                <span style="color: var(--color-four);">Felps Professional</span>
            </div>

            <div class="award-new-div-brand-row">
                <!--  -->
                <% arrDataGet[0].forEach(element => { %>
                <div class="award-new-div-inputs-box">
                    <input readonly type="text" name="input-values-felps" value="<%= Object.keys(element) %>">
                    <input type="text" name="input-values-felps" value="<%= Object.values(element) %>">
                </div>
                <% }) %>
                <!--  -->
            </div>
        </div>

        <div class="award-new-div-brand">
            <div style="background: #43BAC8;" class="award-new-div-brand-title">
                <span style="color: var(--color-four);">Retrô Cosméticos</span>
            </div>
            <div class="award-new-div-brand-row">
                <!--  -->
                <% arrDataGet[1].forEach(element => { %>
                <div class="award-new-div-inputs-box">
                    <input readonly type="text" name="input-values-retro" value="<%= Object.keys(element) %>">
                    <input type="text" name="input-values-retro" value="<%= Object.values(element) %>">
                </div>
                <% }) %>
                <!--  -->
            </div>
        </div>

        <div class="award-new-div-brand">
            <div style="background: #468431;" class="award-new-div-brand-title">
                <span style="color: var(--color-four);">Avenca Cosméticos</span>
            </div>
            <div class="award-new-div-brand-row">
                <!--  -->
                <% arrDataGet[2].forEach(element => { %>
                <div class="award-new-div-inputs-box">
                    <input readonly type="text" name="input-values-avenca" value="<%= Object.keys(element) %>">
                    <input type="text" name="input-values-avenca" value="<%= Object.values(element) %>">
                </div>
                <% }) %>
                <!--  -->
            </div>
        </div>

        <div class="award-new-actions">
            <input hidden id="input-get-values" name="award-new-report-values" type="text">
            <input hidden type="text" name="monthReference" id="reference-month">
            <input hidden type="text" name="getShopPromot" id="id-shop-promot">
            <input hidden type="text" name="nameShow" value="<%= getName %>">
            <button type="submit" id="button-send-form" value="<%= getValidation[0].jcv_award_registers_uuid %>" name="button-save-edit-request" formaction="/painel/trademkt/award/edit">Registrar Relátorio</button>
        </div>

    </form>

</section>

<!--  -->