<link rel="stylesheet" href="/panel/css/trade/awardNew.css">
<script src="/js/global/jquery.mask.min.js"></script>
<script src="/js/global/moment.js"></script>


<section class="award-new-section">

    <div class="list-config-search-link-back">
        <a title="Voltar a lista" class="class-loader" href="/painel/trademkt/award/list">
            <i class="ri-arrow-left-line"></i>
        </a>
    </div>

    <%

    let statusGet = {
        '0': 'Não Preenchido',
        '1': 'Preenchido',
        '2': '<b style="color: var(--color-red)">Fechado</b>'
    }
    
    %>

    <div class="award-new-title-box">
        <span style="font-size: 1.3rem;"><%= getName %></span>
        <span style="font-size: 0.9rem; margin-left: 9px;"><%= getValidation[0].jcv_award_registers_month %> / <%- statusGet[getValidation[0].jcv_award_registers_status] %> </span>
    </div>

    <form method="post" class="award-new-div-main">

        <div class="award-new-message">
            <span><b><i class="ri-alert-line"></i>⠀PEÇAS INSERIDAS DE ACORDO COM OS PRODUTOS PASSÍVEIS DE PREMIAÇÃO⠀<i class="ri-alert-line"></i></b></span>
        </div>
        <% arrDataGet = JSON.parse(getValidation[0].jcv_award_registers_json) %>

        <% var countInfo = 0 %>
        <div class="award-new-div-brand">
            <div style="background: black;" class="award-new-div-brand-title">
                <span style="color: var(--color-four);">Felps Professional</span>
            </div>
            <!--  -->
            <div class="award-new-div-brand-row-title">
                <span><b><i class="ri-alert-line"></i>⠀(NÃO INSERIDO: OX 90ML, ÓLEO 7ML E SACHÊS!)</b></span>
            </div>
            <!--  -->
            <div class="award-new-div-brand-row">
                <!--  -->
                <% arrDataGet[0].forEach(element => { %>
                <div class="award-new-div-inputs-box">
                    <% if(countInfo == 0){ %>
                        <input disabled type="text" name="input-values-felps" value="<%= Object.keys(element) %>">
                        <% countInfo = 0 %>
                    <% }else{ %>
                        <input disabled type="text" name="input-values-felps" value="<%= Object.keys(element) %>">
                    <% } %>
                    <% countInfo = 1 %>
                    <input disabled type="text" name="input-values-felps" value="<%= Object.values(element) %>">
                </div>
                <% }) %>
                <% countInfo = 0 %>
                <!--  -->
            </div>
        </div>

        <div class="award-new-div-brand">
            <div style="background: #43BAC8;" class="award-new-div-brand-title">
                <span style="color: var(--color-four);">Retrô Cosméticos</span>
            </div>
            <!--  -->
            <div class="award-new-div-brand-row-title">
                <span><b><i class="ri-alert-line"></i>⠀(NÃO INSERIDO: SACHÊS!)</b></span>
            </div>
            <!--  -->
            <div class="award-new-div-brand-row">
                <!--  -->
                <% arrDataGet[1].forEach(element => { %>
                <div class="award-new-div-inputs-box">
                    <% if(countInfo == 0){ %>
                        <input disabled type="text" name="input-values-retro" value="<%= Object.keys(element) %>">
                        <% countInfo = 0 %>
                    <% }else{ %>
                        <input disabled type="text" name="input-values-retro" value="<%= Object.keys(element) %>">
                    <% } %>
                    <% countInfo = 1 %>
                    <input disabled type="text" name="input-values-retro" value="<%= Object.values(element) %>">
                </div>
                <% }) %>
                <% countInfo = 0 %>
                <!--  -->
            </div>
        </div>

        <div class="award-new-div-brand">
            <div style="background: #468431;" class="award-new-div-brand-title">
                <span style="color: var(--color-four);">Avenca Cosméticos</span>
            </div>
            <div class="award-new-div-brand-row">
                <!--  -->
                <% arrDataGet[2].forEach(element => { %>
                <div class="award-new-div-inputs-box">
                    <% if(countInfo == 0){ %>
                        <input disabled type="text" name="input-values-avenca" value="<%= Object.keys(element) %>">
                        <% countInfo = 0 %>
                    <% }else{ %>
                        <input disabled type="text" name="input-values-avenca" value="<%= Object.keys(element) %>">
                    <% } %>
                    <% countInfo = 1 %>
                    <input disabled type="text" name="input-values-avenca" value="<%= Object.values(element) %>">
                </div>
                <% }) %>
                <!--  -->
            </div>
        </div>

    </form>

</section>

<!--  -->