<link rel="stylesheet" href="/panel/css/trade/shops.css">

<script src="/js/jquery-paginate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<script>
    let divLoader = document.getElementById('sys-section-loader')
    
    divLoader.style.display = 'flex';
</script>

<section class="shop-container-main">
    <section class="shop-container-page">
        <div class="shop-container-identify-page">
            <span>Lojas</span>
            <span>/ Lista de lojas</span>
        </div>        
        <form class="shop-container-list-all" method="post">
            <section class="section-shop-list-center">
                <div class="shop-title-box"><span>Lista de lojas</span></div>

                <div class="shop-order-srs-search">
                    <div class="shop-order-srs-box">
                        <input type="text" placeholder="Busque por ID, nome fantasia, nome social, região.." id="input-search-table">
                    </div>
                    <div class="shop-order-srs-map">
                        <a class="class-loader" href="/painel/trademkt/shops/maps">
                            <i class="ri-road-map-line"></i>
                            <label for="">Mapa</label>
                        </a>
                    </div>
                    <div id="open-new-shop" class="shop-order-srs-new">
                        <i class="ri-add-line"></i>
                        <label for="">Novo cadastro</label>
                    </div>
                    <div class="container-actions-checks-shop">
                        <div class="shop-box-actions-checks">
                            <label for="">Ação</label>
                            <select name="action-shops-select" id="">
                                <option value="">-- Selecione --</option>
                                <option value="" disabled></option>
                                <option value="CMD01">Habilitar</option>
                                <option value="CMD02">Desabilitar</option>
                                <option value="CMD03">Exportar Excel</option>
                            </select>
                        </div>
                        <div class="shop-box-actions-checks-button">
                            <button id="shop-list-ids" name="shop-list-ids" formaction="/painel/trademkt/shops/action/execute">Executar</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>

        <!--  -->
        <!--  -->

        <section class="shop-main-list-content">

            <% allShops.forEach(element => { %>
            <div class="shop-box-single" value-div="<%= element.jcv_trade_shops_id %>">
                <div class="shop-box-single-header">
                    <input class="shop-input-check" type="checkbox" id="<%= element.jcv_trade_shops_id %>" name="shop-edit-id" value="<%= element.jcv_trade_shops_id %>">
                    <% if(element.jcv_trade_shops_latLong != null){ %>
                        <a class="class-loader" href="/painel/trademkt/shops/maps" title="Visualizar no mapa"><i class="ri-road-map-line"></i></a>
                    <% } %>
                </div>
                <!--  -->
                <div class="shop-box-icon">
                    <i class="ri-store-2-line"></i>
                </div>
                <!--  -->
                <div class="shop-box-single-info">
                    <span><%= element.jcv_trade_shops_name_social %></span>
                    <span style="display: none;"><%= element.jcv_trade_shops_name_social.toLowerCase() %></span>
                    
                    <br/>
                    <span><%= element.jcv_trade_shops_name_fantasy %></span>
                    <span style="display: none;"><%= element.jcv_trade_shops_name_fantasy.toLowerCase() %></span>

                    <% if(element.jcv_trade_shops_cnpj == '' || element.jcv_trade_shops_cnpj == null){ %>
                        <span><b>Sem dados..</b></span>
                    <% }else{ %>
                        <span><b><%= element.jcv_trade_shops_cnpj %></b></span>
                    <% } %>
                    
                    <br/>
                    <span><%= element.jcv_trade_shops_region %></span>

                    <% if(element.jcv_trade_shops_enabled == 1){ %>
                        <% if(JSON.parse(element.jcv_trade_shops_users) >= 1){ %>
                            <span><b><%= JSON.parse(element.jcv_trade_shops_users).length %></b> usuarios</span>
                        <% }else{ %>
                            <span><b>Nenhum usuario..</b></span>
                        <% } %>
                    <% }else{ %>
                        <span style="color: var(--color-red);"><b>DESABILITADO</b></span>
                    <% } %>
                    
                </div>
                <!--  -->
                <hr style="width: 100%; margin: 12px 0;"/>
                <!--  -->
                <div class="shop-box-single-actions">
                    <button value="<%= element.jcv_trade_shops_id %>" type="button" class="class-loader shop-open-edit-user"><i class="ri-pencil-line"></i></button>
                    <a class="class-loader" href="/painel/trademkt/shops/config/<%= element.jcv_trade_shops_id %>"><i class="ri-user-add-line"></i></a>
                </div>
            </div>
            <% }) %>

        </section>

    </section>
</section>

<!--  -->
<!--  -->

<section class="shop-edit-main" id="shop-edit-main">
    <div class="shop-edit-box-center">
        <form method="post" class="shop-edit-box-main">
            <!--  -->
            <div class="shop-edit-box-main-title">
                <span id="name-shop">XX</span>
                <span><i id="close-edit-shop" class="ri-close-line"></i></span>
            </div>
            <!--  -->
            <div class="shop-edit-box-main-options">
                <div class="shop-edit-box-main-options">
                    <label for="">CNPJ / CPF</label>
                    <input type="text" id="shop-edit-cnpj-cpf">
                </div>
                <div class="shop-edit-box-main-options">
                    <label for="">Nome SOCIAL</label>
                    <input type="text" id="shop-social-name">
                </div>
                <div class="shop-edit-box-main-options">
                    <label for="">Nome FANTASIA</label>
                    <input type="text" id="shop-fantasy-name">
                </div>
                <div class="shop-edit-box-main-options">
                    <label for="">Região</label>
                    <select id="shop-edit-region">
                        <!--  -->
                        <!--  -->
                        <!--  -->
                        <!--  -->
                    </select>
                </div>
                <div class="shop-edit-box-main-options">
                    <label for="">Representante</label>
                    <select id="shop-manager-edit">
                        <!--  -->
                        <!--  -->
                        <!--  -->
                        <!--  -->
                    </select>
                </div>
                <hr style="width: 100%;">
                <div class="shop-new-box-main-options">
                    <label for="">CEP</label>
                    <input type="text" placeholder="CEP da loja" id="shop-cep-shop">
                </div>
                <div class="shop-new-box-main-options">
                    <label for="">N°</label>
                    <input type="text" placeholder="numero da loja" id="shop-number-shop">
                </div>
                <div class="shop-new-box-main-options">
                    <label id="shop-id-result-road">O endereço vai aparecer aqui..</label>
                </div>
                <hr style="width: 100%;">
                <div class="shop-edit-box-main-options">
                    <label for="">Ativo?</label>
                    <select id="shop-edit-enabled">
                        <!--  -->
                        <!--  -->
                        <!--  -->
                    </select>
                </div>
            </div>
            <!--  -->
            <div class="shop-edit-box-buttons">
                <button class="class-loader" id="shop-button-send-data" formaction="/painel/trademkt/shops/register/shop/edit" name="action-save-edit-shop" type="submit"><i class="ri-save-3-line"></i></button>
            </div>
        </form>
    </div>
</section>

<!--  -->
<!--  -->
<!--  -->

<section class="shop-new-main" id="shop-new-main">
    <div class="shop-new-box-center">
        <form method="post" class="shop-new-box-main">
            <!--  -->
            <div class="shop-new-box-main-title">
                <span id="name-shop">Cadastrar nova loja</span>
                <span><i id="close-new-shop" class="ri-close-line"></i></span>
            </div>
            <!--  -->
            <div class="shop-new-box-main-options">
                <div class="shop-new-box-main-options">
                    <label for="">CNPJ / CPF</label>
                    <input type="text" name="shop-name-cnpj">
                </div>
                <div class="shop-new-box-main-options">
                    <label for="">Nome SOCIAL</label>
                    <input type="text" name="shop-name-social">
                </div>
                <div class="shop-new-box-main-options">
                    <label for="">Nome FANTASIA</label>
                    <input type="text" name="shop-name-fantasia">
                </div>
                <div class="shop-new-box-main-options">
                    <label for="">Região</label>
                    <select name="shop-name-region">
                        <option value="" disabled></option>
                        <option value="Brasil - Região Centro-Oeste">Brasil - Região Centro-Oeste</option>
                        <option value="Brasil - Região Nordeste">Brasil - Região Nordeste</option>
                        <option value="Brasil - Região Norte">Brasil - Região Norte</option>
                        <option value="Brasil - Região Sudeste">Brasil - Região Sudeste</option>
                        <option value="Brasil - Região Sul">Brasil - Região Sul</option>
                        <option disabled></option>
                        <option value="São Paulo - Região Norte">São Paulo - Região Norte</option>
                        <option value="São Paulo - Região Sul">São Paulo - Região Sul</option>
                        <option value="São Paulo - Região Leste">São Paulo - Região Leste</option>
                        <option value="São Paulo - Região Oeste">São Paulo - Região Oeste</option>
                        <option value="São Paulo - Região Central">São Paulo - Região Central</option>
                    </select>
                </div>
                <div class="shop-new-box-main-options">
                    <label for="">Ativo?</label>
                    <select name="shop-enabled">
                        <option value="1">Sim</option>
                        <option value="0">Não</option>
                    </select>
                </div>
            </div>
            <!--  -->
            <div class="shop-new-box-buttons">
                <button class="class-loader" id="shop-button-send-data" formaction="/painel/trademkt/shops/register/shop/new" type="submit"><i class="ri-save-3-line"></i></button>
            </div>
        </form>
    </div>
</section>


<script>
    $(window).on("load", function (e) {

        $(function(){
            $.fn.loadSpin(0)
            ///Get url start Socketio
            let urlValidate = '<%- PAINEL_URL %>';
            const socket = io(urlValidate)

            //Fechar a loja
            $("#close-edit-shop").click(function (){
                $("#shop-edit-main").fadeOut()
            })

            //Fechar a loja
            $("#close-new-shop").click(function (){
                $("#shop-new-main").fadeOut()
            })

            //Arnazendo
            let optionsRegion = 
            `<option value="" disabled></option>
            <option value="Brasil - Região Centro-Oeste">Brasil - Região Centro-Oeste</option>
            <option value="Brasil - Região Nordeste">Brasil - Região Nordeste</option>
            <option value="Brasil - Região Norte">Brasil - Região Norte</option>
            <option value="Brasil - Região Sudeste">Brasil - Região Sudeste</option>
            <option value="Brasil - Região Sul">Brasil - Região Sul</option>
            <option disabled></option>
            <option value="São Paulo - Região Norte">São Paulo - Região Norte</option>
            <option value="São Paulo - Região Sul">São Paulo - Região Sul</option>
            <option value="São Paulo - Região Leste">São Paulo - Região Leste</option>
            <option value="São Paulo - Região Oeste">São Paulo - Região Oeste</option>
            <option value="São Paulo - Região Central">São Paulo - Região Central</option>
            `

            $("#shop-cep-shop").mask('00000000');

            $.fn.verifyCep = () => {
                if($("#shop-cep-shop").val() > ''){
                    let cepGet = $("#shop-cep-shop").val().replace(/-/g, '');
                    let numberGet = $("#shop-number-shop").val();

                    if(cepGet.length >= 8){
                        $.getJSON("https://viacep.com.br/ws/"+ cepGet +"/json/", function(dados) {
                    
                            if (!("erro" in dados)){
                                //alert(cepGet)
                                //Tem dados no CEP
                                

                                //console.log(dados.logradouro)
                                $("#shop-id-result-road").empty().append(`<b style='color: var(--color-one); font-size: 0.9rem'><i class="ri-road-map-line"></i> Endereço: ${dados.logradouro} - ${numberGet}</b>`)

                                
                            }else{
                                $("#shop-id-result-road").empty().append(`<b style='color: red; font-size: 0.9rem'>Sem dados</b>`)
                            }
                        
                        });
                    }else{
                        $("#shop-id-result-road").empty()
                    }
                }else{
                    $("#shop-id-result-road").empty()
                }
            }

            //Ação de editar a loja
            $(".shop-open-edit-user").click(function (){
                const idShop = parseInt($(this).val());


                $.fn.loadSpin(0)

                $("#shop-edit-main").fadeIn().css({'display':'flex'})


                //Pegando os dados
                socket.emit("getInfoShopEdit", idShop)
                socket.on("getInfoShopEditResult", (dataShop) => {

                    //Title
                    $("#name-shop").text(dataShop[0][0].jcv_trade_shops_name_social)

                    //Disabled checkbox
                    $("#"+dataShop[0][0].jcv_trade_shops_id).prop('checked', false)

                    //Limpando todos os campos
                
                    //Inserindo os dados e nome dos campos
                    $("#shop-edit-cnpj-cpf").val(dataShop[0][0].jcv_trade_shops_cnpj).attr('name','shop-cnpj-edit-'+dataShop[0][0].jcv_trade_shops_id)
                    $("#shop-social-name").val(dataShop[0][0].jcv_trade_shops_name_social).attr('name','shop-name-social-edit-'+dataShop[0][0].jcv_trade_shops_id)
                    $("#shop-fantasy-name").val(dataShop[0][0].jcv_trade_shops_name_fantasy).attr('name','shop-name-fantasy-edit-'+dataShop[0][0].jcv_trade_shops_id)

                    $("#shop-cep-shop").val(dataShop[0][0].jcv_trade_shops_cep).attr('name','shop-cep-edit-'+dataShop[0][0].jcv_trade_shops_id)
                    $("#shop-number-shop").val(dataShop[0][0].jcv_trade_shops_number).attr('name','shop-number-edit-'+dataShop[0][0].jcv_trade_shops_id)
                    
                    $("#shop-edit-region").empty().append(optionsRegion)
                    $("#shop-edit-region").attr('name','shop-name-region-edit-'+dataShop[0][0].jcv_trade_shops_id).append(`<option selected value='${dataShop[0][0].jcv_trade_shops_region}'>${dataShop[0][0].jcv_trade_shops_region}</option>`)

                    console.log(dataShop[2])
                    //Gestor da loja
                    $("#shop-manager-edit").empty()
                    $("#shop-manager-edit").append(`
                        <option value="${dataShop[2]}">${dataShop[2]}</option>
                        <option disabled></option>
                    `)
                    dataShop[1].forEach(element => {
                        $("#shop-manager-edit").append(`<option value="${element.jcv_userNamePrimary}">${element.jcv_userNamePrimary}</option>`)
                    })
                    $("#shop-manager-edit").attr('name','shop-manager-edit-'+dataShop[0][0].jcv_trade_shops_id)//.append(`<option selected value='${dataShop[0][0].jcv_trade_shops_region}'>${dataShop[0][0].jcv_trade_shops_region}</option>`)

                    $("#shop-edit-enabled").empty().append(`<option value='1'>Sim</option><option value='0'>Não</option><option disabled></option>`)
                    if(dataShop[0][0].jcv_trade_shops_enabled == 1){
                        $("#shop-edit-enabled").attr('name','shop-enabled-edit-'+dataShop[0][0].jcv_trade_shops_id).append(`<option selected value='1'>Sim</option>`)
                    }else{
                        $("#shop-edit-enabled").attr('name','shop-enabled-edit-'+dataShop[0][0].jcv_trade_shops_id).append(`<option selected value='0'>Não</option>`)
                    }

                    $("#shop-button-send-data").val(dataShop[0][0].jcv_trade_shops_id)

                    $.fn.verifyCep()//Verificando cep
                })
            })

            //Buscando o endereço dinamicamente
            $("#shop-number-shop").keyup((e) => {
                $.fn.verifyCep()    
            })
            $("#shop-cep-shop").keyup((e) => {
                $.fn.verifyCep()    
            })

            let arrayIds = []
            $(".shop-box-single").click(function(){
                let idDiv = $(this).attr('value-div');

                if($("#"+idDiv).is(':checked') == true){

                    //Removendo
                    let removeIndex = arrayIds.indexOf(idDiv)
                    arrayIds.splice(removeIndex, 1)

                    $("#shop-list-ids").val(JSON.stringify(arrayIds))

                    $("#"+idDiv).prop('checked', false)
                }else{

                    if(arrayIds.indexOf(idDiv) == -1){
                        arrayIds.push(idDiv)
                    }

                    $("#shop-list-ids").val(JSON.stringify(arrayIds))

                    $("#"+idDiv).prop('checked', true)
                }
            })


            //Filtro de busca
            $('#input-search-table').keyup(function(){            
                // Search text
                var text = $(this).val();

                // Hide all content class element
                $('.shop-box-single').hide();

                // Search and show
                $('.shop-box-single:contains("'+text+'")').show();

            });

            //Criando um cookie para salvar sempre o que o
            //usuario digitar
            $("#input-search-table").keyup(function(e){
                if($(this).val().length <  1){
                    Cookies.remove('SEARCH-INPUT-TRADE-SHOPS')    
                }else{
                    Cookies.set('SEARCH-INPUT-TRADE-SHOPS', $(this).val())
                }
            })

            function getContainerSearch (text){
                // Search text
                // Hide all content class element
                $('.shop-box-single').hide();

                // Search and show
                $('.shop-box-single:contains("'+text+'")').show();
            }

            //Cookie filter
            if(Cookies.get('SEARCH-INPUT-TRADE-SHOPS')){
                $("#input-search-table").val(Cookies.get('SEARCH-INPUT-TRADE-SHOPS'))   
                $("#input-search-table").select()
                getContainerSearch(Cookies.get('SEARCH-INPUT-TRADE-SHOPS'))
                //$.fn.searchInputTableInputs('#sys-users-table-list-tbody','#input-search-table',0)
            }


            /*  */
            /*  */
            /*  */
            /*  */
            $("#open-new-shop").click(function(){
                $("#shop-new-main").fadeIn().css({'display':'flex'})
            })

        })
    })
</script>