<link rel="stylesheet" href="/panel/css/notifications/mainNotify.css">

<section class="notify-main-section">
    <section class="notify-main-section-page">
        <div class="notify-main-title-page">
            <span>Notificações</span>
            <span>/ Home</span>
        </div>

        <section class="notify-main-actions">
            <div class="notify-display-center">
                <div class="notify-actions-button">
                    <button type="button" id="button-open-list-forms-finished"><i class="ri-menu-5-line"></i></button>
                    <a class="class-loader" href="/painel/notifications/new"><i class="ri-add-line"></i></a>
                </div>
            </div>
        </section>
    
        <!--  -->

        <section class="notify-main-container-body">
            <section class="notify-main-section-list-forms" id="forms-list-display">
                <div class="notify-main-forms">

                <% if(allNotify != ''){ %>
                    <% allNotify.forEach(element => { %>
                    <a class="notify-main-forms-link" href="/painel/notifications/edit/<%= element.jcv_notifications_id %>">
                        <div class="notify-main-forms-link-info">
                            <span><%= element.jcv_notifications_title %></span>
                            <span>Views: <b><%= JSON.parse(element.jcv_notifications_users_view).length %></b> de <b><%= JSON.parse(element.jcv_notifications_usersId).length %></b></span>
                            <span></span>
                        </div>
                        <hr style="width: 100%; margin: 7px 0;">
                        <form method="post" class="notify-main-forms-link-button">
                            <button class="class-loader" formaction="/painel/notifications/delete" type="submit" name="button-delete-notify" value="<%= element.jcv_notifications_id %>" title="Excluir Notificação"><i class="ri-delete-bin-line"></i></button>
                        </form>
                    </a>
                    <% }) %>
                <% }else{ %>
                    <div class="notify-main-forms-not-found">
                        <img class="notify-main-forms-error" src="/panel/trade/error.svg" alt="">
                        <span>Nenhuma notificação encontrada.. <b><a href="/painel/notifications/new">Criar notificação</a></b></span>
                    </div>
                <% } %>
                </div>
            </section>

            <section class="notify-main-section-list-forms" id="form-list-fished">
                <div class="notify-main-forms-title">
                    <span>Listando os utlimos <b>50 formulários</b> finalizados</span>
                </div>
                <div class="notify-main-forms">
                    
                    <% allNotifyDesabled.forEach(element => { %>
                        <a class="notify-main-forms-link" href="/painel/notifications/edit/<%= element.jcv_notifications_id %>">
                            <div class="notify-main-forms-link-info">
                                <span><%= element.jcv_notifications_title %></span>
                                <span>Views: <b><%= JSON.parse(element.jcv_notifications_users_view).length %></b></span>
                                <span></span>
                            </div>
                            <hr style="width: 100%; margin: 7px 0;">
                            <form method="post" class="notify-main-forms-link-button">
                                <button class="class-loader" formaction="/painel/notifications/delete" type="submit" name="button-delete-notify" value="<%= element.jcv_notifications_id %>" title="Excluir Notificação"><i class="ri-delete-bin-line"></i></button>
                            </form>
                        </a>
                    <% }) %>
                </div>
            </section>

        </section>

    </section>
</section>
<script>

    let index = 0;
    $("#button-open-list-forms-finished").click(function(){
        if(index == 0){
            $("#forms-list-display").css({'display':'none'})
            $("#form-list-fished").fadeIn().css({'display':'flex'})
            index = 1;
        }else{
            $("#form-list-fished").css({'display':'none'})
            $("#forms-list-display").fadeIn().css({'display':'flex'})
            index = 0;
        }
    })

</script>