<link rel="stylesheet" href="/panel/css/main/profile.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<section class="profile-section-main">
    <section class="profile-section-center-main">
        <div class="profile-container-main-style"></div>
        <div class="profile-container-info-user">
            <form class="profile-container-image-user" id="form-save-profile" action="./perfil/update/image" method="post" enctype="multipart/form-data">
                <% if(arrayData[0].jcv_userImageIcon != null){ %>
                    <img style="cursor: pointer; background: transparent;" class="input-edit-img profile-img-user" src="<%= arrayData[0].jcv_userImageIcon %>" alt="">
                <% }else{ %>
                    <img style="cursor: pointer;" class="input-edit-img profile-img-user"></img>
                <% } %>
                <div class="profile-container-edit">
                    <label class="input-edit-img"><i class="ri-edit-line"></i></label>
                </div>
            </form>

            <form class="profile-container-info-user-set" action="./perfil/update" method="post">
                <div class="profile-row-form">
                    <div class="profile-container-input">
                        <label for="">Nome (Obrigatorio)</label>
                        <input required type="text" value="<%= arrayData[0]['jcv_userNamePrimary'] %>" name="updateNameUser" placeholder="(Obrigatorio)">
                    </div>
                    <div class="profile-container-input">
                        <label for="">CPF</label>
                        <input required type="text" value="<%= arrayData[0]['jcv_userCpf'] %>" name="updateCPFUser" id="update-cpf">
                    </div>

                    <% if(arrayData[0]['jcv_userEmailCorporate'] == null || arrayData[0]['jcv_userEmailCorporate'] == ''){ %>
                        <div class="profile-container-input">
                            <label style="color: red;" for="">E-mail 1 (Obrigatorio)</label>
                            <input required style="color: red;" type="email" value="<%= arrayData[0]['jcv_userEmailCorporate'] %>" name="updateEmailUserCorp" placeholder="Insira um email corporativo ou pessoal">
                        </div>
                    <% }else{ %>
                        <div class="profile-container-input">
                            <label for="">E-mail 1 (Obrigatorio)</label>
                            <input required type="email" value="<%= arrayData[0]['jcv_userEmailCorporate'] %>" name="updateEmailUserCorp" placeholder="Insira um email corporativo ou pessoal">
                        </div>
                    <% } %>

                    <div class="profile-container-input">
                        <label for="">E-mail 2 (Opcional)</label>
                        <input type="text" value="<%= arrayData[0]['jcv_userEmailFolks'] %>" name="updateEmailUserPer" placeholder="Opcional">
                    </div>

                    <div class="profile-container-input">
                        <label for="">Ramal (Opcional) </label>
                        <input type="text" value="<%= arrayData[0]['jcv_userExtension'] %>" name="updateRamalUser" placeholder="Opcional">
                    </div>
                    <div class="profile-container-input-checkbox">
                        
                        <% if(arrayData[0]['jcv_sysEmail'] >= 1){ %>
                            <input type="checkbox" checked name="updateAppsUser" id="check-apps">
                        <% }else{ %>
                            <input type="checkbox" name="updateAppsUser" id="check-apps">
                        <% } %>
                        <label for="check-apps">Receber e-mails corporativos</label>
                    </div>
                    <div class="profile-container-pass-renew">
                        <span id="profile-recovery-open">Nova senha</span>
                    </div>
                    <div class="profile-container-buttons">
                        <button type="submit">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>
<section id="profile-recover-pass" class="profile-recover-password">
    <section class="profile-recover-container-main">
        <div class="profile-recover-center">
            <div class="profile-recover-header">
                <span><b><%= arrayData[1]%></b> defina sua nova senha</span>
                <span><i id="profile-recover-close" class="ri-close-line"></i></span>
            </div>
            <div class="profile-recover-body">
                <form class="profile-form-recover" action="./perfil/pass/redefine" method="post">
                    <div class="profile-form-recover-row">
                        <span>Insira sua senha e repita no campo abaixo</span>
                    </div>
                    <div class="profile-form-recover-row">
                        <input type="password" name="sysNewPass" id="sysNewPass" placeholder="insira sua nova senha..">
                    </div>
                    <div class="profile-form-recover-row">
                        <input type="password" name="sysNewPassTwo" id="sysNewPassTwo" placeholder="repita sua nova senha..">
                    </div>
                    <div class="profile-form-recover-row-commands">
                        <button class="class-loader" type="submit" id="button-save-pass">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>

<!--  -->
<section class="avataars-section" id="avataars-section">
    <div class="avataars-main">
        <div class="avataars-main-box">
            <div class="avataars-main-title">
                <span>Defina seu Avatar!</span>
                <i id="close-screen-avataars" class="ri-close-line"></i>
            </div>
            <!--  -->
            <div class="avataars-image">
                <% if(arrayData[0].jcv_userImageIcon != null){ %>
                    <img id="avataars-image" src="<%= arrayData[0].jcv_userImageIcon %>">
                <% }else{ %>
                    <img id="avataars-image" src="https://avataaars.io/?avatarStyle=Circle&topType=NoHair&accessoriesType=Blank&facialHairType=Blank&clotheType=ShirtCrewNeck&clotheColor=White&eyeType=Default&eyebrowType=Default&mouthType=Eating&skinColor=Light">
                <% } %>
                
            </div>
            <!--  -->
            <div class="avataars-main-style">
                <div class="avataars-boxs">
                    <label for="topType">Tipo</label>
                    <div>
                        <select id="topType" class="form-control">
                        <option value="NoHair">Sem cabelo</option>
                        <option value="Eyepatch">Olhar</option>
                        <option value="Hat">Chapéu</option>
                        <option value="Hijab">Hijab</option>
                        <option value="Turban">Turbante</option>
                        <option value="WinterHat1">Chapéu de inverno 1</option>
                        <option value="WinterHat2">Chapéu de inverno 2</option>
                        <option value="WinterHat3">Chapéu de inverno 3</option>
                        <option value="WinterHat4">Chapéu de inverno 4</option>
                        <option value="LongHairBigHair">Cabelo comprido, cabelo grande</option>
                        <option value="LongHairBob">Bob de cabelo comprido</option>
                        <option value="LongHairBun">Coque de cabelo comprido</option>
                        <option value="LongHairCurly">Cabelo comprido encaracolado</option>
                        <option value="LongHairCurvy">Cabelo comprido curvilíneo</option>
                        <option value="LongHairDreads">Dreads de cabelo comprido</option>
                        <option value="LongHairFrida">Frida de cabelo comprido</option>
                        <option value="LongHairFro">Cabelo Comprido Afro</option>
                        <option value="LongHairFroBand">Faixa para cabelo comprido</option>
                        <option value="LongHairNotTooLong">Cabelo comprido não muito comprido</option>
                        <option value="LongHairShavedSides">Cabelo comprido raspado nas laterais</option>
                        <option value="LongHairMiaWallace">Cabelo comprido Mia Wallace</option>
                        <option value="LongHairStraight">Cabelo comprido liso</option>
                        <option value="LongHairStraight2">Cabelo Comprido Liso 2</option>
                        <option value="LongHairStraightStrand">Mecha Reta de Cabelo Comprido</option>
                        <option value="ShortHairDreads01">Dreads de cabelo curto 01</option>
                        <option value="ShortHairDreads02">Dreads de cabelo curto 02</option>
                        <option value="ShortHairFrizzle">Cabelo Curto Frio</option>
                        <option value="ShortHairShaggyMullet">Tainha desgrenhada de cabelo curto</option>
                        <option value="ShortHairShortCurly">Cabelo Curto Curto Cacheado</option>
                        <option value="ShortHairShortFlat">Cabelo Curto Curto liso</option>
                        <option value="ShortHairShortRound">Cabelo Curto Curto Redondo</option>
                        <option value="ShortHairShortWaved">Cabelo Curto Onda Curta</option>
                        <option value="ShortHairSides">Lados de cabelo curto</option>
                        <option value="ShortHairTheCaesar">Cabelo Curto O César</option>
                        <option value="ShortHairTheCaesarSidePart">Cabelo Curto A Parte Lateral</option>
                        </select>
                    </div>
                </div>
                <div class="avataars-boxs">
                    <label for="accessoriesType">👓 Acessórios</label>
                    <div>
                        <select id="accessoriesType" class="form-control">                 
                            <option value="Blank">Em branco</option>
                            <option value="Kurt">Kurt</option>
                            <option value="Prescription01">Prescrição 01</option>
                            <option value="Prescription02">Prescrição 02</option>
                            <option value="Round">Rodada</option>
                            <option value="Sunglasses">Óculos de sol</option>
                            <option value="Wayfarers">Wayfarers</option>
                        </select>
                    </div>
                </div>
                <div class="avataars-boxs">
                    <label for="hairColor">💈 Cor dos cabelos</label>
                    <div>
                        <select id="hairColor" class="form-control">
                            <option value="Auburn">Auburn</option>
                            <option value="Black">Preto</option>
                            <option value="Blonde">Loiro</option>
                            <option value="BlondeGolden">Loiro Dourado</option>
                            <option value="Brown">Marrom</option>
                            <option value="BrownDark">Marrom Escuro</option>
                            <option value="PastelPink">Rosa Pastel</option>
                            <option value="Blue">Azul</option>
                            <option value="Platinum">Platina</option>
                            <option value="Red">Vermelho</option>
                            <option value="SilverGray">Cinza Prateado</option>
                        </select>
                    </div>
                </div>
                <div class="avataars-boxs">
                    <label for="facialHairType">🧔 Cabelo Facial</label>
                    <div>
                        <select id="facialHairType" class="form-control">
                            <option value="Blank">Em branco</option>
                            <option value="BeardMedium">Barba Média</option>
                            <option value="BeardLight">Luz da barba</option>
                            <option value="BeardMajestic">Barba Majestic</option>
                            <option value="MoustacheFancy">Fantástico de bigode</option>
                            <option value="MoustacheMagnum">Bigode Magnum</option>
                        </select>
                    </div>
                </div>
                <div class="avataars-boxs">
                    <label for="clotheType">👔 Roupas</label>
                    <div>
                        <select id="clotheType" class="form-control">
                            <option value="BlazerShirt">Camisa blazer</option>
                            <option value="BlazerSweater">Blazer Suéter</option>
                            <option value="CollarSweater">Suéter com gola</option>
                            <option value="GraphicShirt">Camisa gráfica</option>
                            <option value="Hoodie">Moleque</option>
                            <option value="Overall">Geral</option>
                            <option value="ShirtCrewNeck">Camisa com gola redonda</option>
                            <option value="ShirtScoopNeck">Pescoço da camisa</option>
                            <option value="ShirtVNeck">Camisa VNeck</option>
                        </select>
                    </div>
                </div>
                <div class="avataars-boxs">
                    <label for="eyeType">👀 Olhos</label>
                    <div>
                        <select id="eyeType" class="form-control">
                            <option value="Close">Fechado</option>
                            <option value="Cry">Chore</option>
                            <option value="Default">Padrão</option>
                            <option value="Dizzy">Tonto</option>
                            <option value="EyeRoll">Rolagem dos Olhos</option>
                            <option value="Happy">Feliz</option>
                            <option value="Hearts">Coração</option>
                            <option value="Side">Lado</option>
                            <option value="Squint">Squint</option>
                            <option value="Surprised">Surpreso</option>
                            <option value="Wink">Piscadela</option>
                            <option value="WinkWacky">Pisca Maluca</option>
                        </select>
                    </div>
                </div>
                <div class="avataars-boxs">
                    <label for="eyebrowType">🤨 Sobrancelha</label>
                    <div>
                        <select id="eyebrowType" class="form-control">
                            <option value="Angry">Irritado</option>
                            <option value="AngryNatural">Irritado Natural</option>
                            <option value="Default">Padrão</option>
                            <option value="DefaultNatural">Padrão Natural</option>
                            <option value="FlatNatural">Plano Natural</option>
                            <option value="RaisedExcited">Raised Animado</option>
                            <option value="RaisedExcitedNatural">Raised Animado Natural</option>
                            <option value="SadConcerned">Triste Preocupado</option>
                            <option value="SadConcernedNatural">Triste Preocupado Natural</option>
                            <option value="UnibrowNatural">Unibrow Natural</option>
                            <option value="UpDown">Para cima para baixo</option>
                            <option value="UpDownNatural">Para cima para baixo natural</option>
                        </select>
                    </div>
                </div>
                <div class="avataars-boxs">
                    <label for="mouthType">👄 Boca</label>
                    <div>
                        <select id="mouthType" class="form-control">
                            <option value="Concerned">Preocupado</option>
                            <option value="Default">Padrão</option>
                            <option value="Disbelief">Descrença</option>
                            <option value="Eating">Comer</option>
                            <option value="Grimace">Cara</option>
                            <option value="Sad">Triste</option>
                            <option value="ScreamOpen">Grito Aberto</option>
                            <option value="Serious">Sério</option>
                            <option value="Smile">Sorriso</option>
                            <option value="Tongue">Língua</option>
                            <option value="Twinkle">Twinkle</option>
                            <option value="Vomit">Vômito</option>
                        </select>
                    </div>
                </div>
                <div class="avataars-boxs">
                    <label for="skinColor">🎨 Pele</label>
                    <div>
                        <select id="skinColor" class="form-control">
                            <option value="Tanned">Bronzeado</option>
                            <option value="Yellow">Amarelho</option>
                            <option value="Pale">Pardo</option>
                            <option value="Light">Claro</option>
                            <option value="Brown">Marrom</option>
                            <option value="DarkBrown">Marrom Escuro</option>
                            <option value="Black">Moreno</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--  -->
            <form method="post" class="avataars-actions">
                <button class="class-loader" type="submit" formaction="/painel/perfil/update/image" name="avataaars-button-save" id="button-save-avataars">Salvar</button>
            </form>
        </div>
    </div>
</section>
<script>

    //Sistema de avataars
    $("#profile-recovery-open").click(function(){
        $("#profile-recover-pass").fadeIn();
        $("#profile-recover-pass").css("display","flex");
    })

    $("#profile-recover-close").click(function(){
        $("#profile-recover-pass").fadeOut();
    })
    
    $('#update-cpf').mask('000.000.000-00');

    /* ********************* */
    /* ********************* */
    /* ********************* */
    let arrayAvataars = [];
    let textUrl = '';//Esta string é convertida em url para gerar os avatares

    $(".input-edit-img").click(function(){
        $("#avataars-section").fadeIn()
        $("#avataars-section").css({'display':'flex'})

        let linkAv = '<%- arrayData[0].jcv_userImageIcon %>';
        if(linkAv != ''){
            $("#avataars-image").attr('src',linkAv)

            //Pegando as variaveis de da url do avatar
            let arrayVar = linkAv.split('/?')[1].split('&')
            
            arrayVar.forEach(element => {

                let keyVar = element.split('=')[0];
                let valueVar = element.split('=')[1];
                
                if(valueVar != '' && keyVar != ''){
                    arrayAvataars.push(element.split('=')[0], element.split('=')[1])
                }
            });

            //console.log(arrayAvataars)

            //Array de id das opções de custom
            let customIdsBox = {
                typeTop: 'typeTop',
                accessoriesType: 'accessoriesType',
                hairColor: 'hairColor',
                facialHairType: 'facialHairType',
                clotheType: 'clotheType',
                eyeType: 'eyeType',
                eyebrowType: 'eyebrowType',
                mouthType: 'mouthType',
                skinColor: 'skinColor'
            }

            textUrl = linkAv.split('/?')[1]
            
            arrayVar.forEach(element => {
                let keyValue = element.split('=');

                if(customIdsBox[keyValue[0]]){

                    $('#'+customIdsBox[keyValue[0]]+' option[value="'+keyValue[1]+'"]').attr("selected", "selected")
                    
                    //console.log(arrayAvataars)//arrayAvataars)
                }

            });
        }

    })
    $("#close-screen-avataars").click(function(){
        $("#avataars-section").fadeOut()
    })
    /* ********************* */
    /* ********************* */
    /* ********************* */
    //let arrayAvataars = [];
    //let index = 0;
    $(".form-control").on("change",function(){

        //Pegando o nome e convert em variavel
        let valueGet = $(this).val();
        let variable = $(this).attr('id')

        //console.log(arrayAvataars)

        if(arrayAvataars.indexOf(variable) == -1){
            arrayAvataars.push(variable, valueGet)
        }else{
            let testeB = arrayAvataars.indexOf(variable);
            arrayAvataars[testeB+1] = valueGet
        }

        let index = 0;
        textUrl = ''
        arrayAvataars.forEach(element => {
            
            //console.log(element)

            if(index == 0){
                //1°
                textUrl+=element+'='
                index = 1
            }else{
                //2°
                textUrl+=element+'&'
                index = 0
            }

        });

        //console.log(textUrl)

        $("#avataars-image").attr('src','https://avataaars.io/?'+textUrl)
        $("#button-save-avataars").attr('value', 'https://avataaars.io/?'+textUrl)
        //$("#avataars-image").attr('value','https://avataaars.io/?'+textUrl)
    })


    
</script>