
<section class="section-home-main-center">
    <section class="home-section-card-background" id="home-section-card-background">
        <!--  -->
        <div class="home-section-card-cont-users">



            <ul class="home-section-card-box-list">
                <% allUserSystem.forEach(element => { %>
                    <% if(element.jcv_userImageIcon > ''){ %>
                        <li>
                            <div class="home-section-card-box-user-img">
                                <img class="home-image-user" src="<%= element.jcv_userImageIcon %>" alt="">
                            </div>
                            <div class="home-section-card-box-user-name">
                                <span><%= element.jcv_userNamePrimary %></span>
                            </div>
                        </li>
                    <% }else{ %>
                        <li>
                            <div class="home-section-card-box-user-img">
                                <img style="border: none;" class="home-image-user" src="<%= element.jcv_userImageIcon %>" alt="">
                            </div>
                            <div class="home-section-card-box-user-name">
                                <span><%= element.jcv_userNamePrimary %></span>
                            </div>
                        </li>
                    <% } %>
                <% }) %>
                <!--  -->
                
            </ul>

            <!--  -->

        </div>
    </section>

    <!-- -->
    
    <section class="home-body-page">
        <section class="section-box-suspended">
            <div class="suspended-title">
                <div class="title-page-info">
                    <span>Olá <%= GLOBAL_DASH[8] %></span>
                    <a class="class-loader" href="/painel/notifications" id="title-box-notf">Você possui <label id="count-notify">0</label> notificação(ões)</a>
                </div>
            </div>
            <div class="suspended-main">
                <% if(GLOBAL_PERM[0].sys_cal_perm_use == 1){ %>
                <div class="suspended-blocks-container">
                    <div class="suspended-container-center">
                        <div class="suspended-title-boxs">
                            <span>Calendario</span>
                        </div>
                        <div class="home-main-suspended-box">
                            <div class="main-suspended-info">
                                <a class="main-suspended-group-info class-loader" href="/painel/calendario/main/">
                                    <div class="sys-icon-def">
                                        <img class="sys-icon-size" src="/icons/icon-calendar.png" alt="">
                                    </div>
                                    <span>⠀</span>
                                    <span><b><%= CALENDARcount %></b>⠀participação(ões) <i class="ri-external-link-line"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>


                <% if(GLOBAL_PERM[0].sys_req_perm_use == 1){ %>
                <div class="suspended-blocks-container">
                    <div class="suspended-container-center">
                        <div class="suspended-title-boxs">
                            <span>Requisitor de Materiais</span>
                        </div>
                        <% if (REQUISITORstatus == true){ %>
                            <div class="home-main-suspended-box">
                                <div class="main-suspended-info">
                                    <a class="main-suspended-group-info class-loader" href="/painel/requisitor/MinhasRequisicoes">
                                        <div class="sys-icon-def">
                                            <img class="sys-icon-size" src="/icons/icon-requisitor.png" alt="">
                                        </div>
                                        <span>⠀</span>
                                        <span>Você possui requisições <i class="ri-external-link-line"></i></span>
                                    </a>
                                </div>
                            </div>
                        <% }else{ %>
                            <div class="home-main-suspended-box">
                                <div class="main-suspended-info">
                                    <a class="main-suspended-group-info class-loader" href="/painel/requisitor/Novo">
                                        <div class="sys-icon-def">
                                            <img class="sys-icon-size" src="/icons/icon-requisitor.png" alt="">
                                        </div>
                                        <span>⠀</span>
                                        <span>Faça sua requisição <i class="ri-external-link-line"></i></span>
                                    </a>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <% } %>


                <% if(GLOBAL_PERM[0].sys_blz_perm_use == 1){ %>
                <div class="suspended-blocks-container">
                    <div class="suspended-container-center">
                        <div class="suspended-title-boxs">
                            <span>Progama da Beleza</span>
                        </div>
                        <% if(system_blz_status == 2){ %>
                            <div class="home-main-suspended-box">
                                <div class="main-suspended-info">
                                    <a class="main-suspended-group-info class-loader" href="/painel/beleza/status">
                                        <div class="sys-icon-def">
                                            <img class="sys-icon-size" src="/icons/icon-progama-da-beleza.png" alt="">
                                        </div>
                                        <span>⠀</span>
                                        <span>Solicitação concluída <i class="ri-external-link-line"></i></span>
                                    </a>
                                </div>
                            </div>
                        <% }else if(system_blz_status == 1){ %>
                            <div class="home-main-suspended-box">
                                <div class="main-suspended-info">
                                    <a class="main-suspended-group-info class-loader" href="/painel/beleza/solicitar">
                                        <div class="sys-icon-def">
                                            <img class="sys-icon-size" src="/icons/icon-progama-da-beleza.png" alt="">
                                        </div>
                                        <span>⠀</span>
                                        <span>Solicitação pendente <i class="ri-external-link-line"></i></span>
                                    </a>
                                </div>
                            </div>
                        <% }else if(system_blz_status == 3){ %>
                            <div class="home-main-suspended-box">
                                <div class="main-suspended-info">
                                    <a class="main-suspended-group-info class-loader" href="/painel/beleza/solicitar">
                                        <div class="sys-icon-def">
                                            <img class="sys-icon-size" src="/icons/icon-progama-da-beleza.png" alt="">
                                        </div>
                                        <span>⠀</span>
                                        <span>Solicitação cancelada <i class="ri-external-link-line"></i></span>
                                    </a>
                                </div>
                            </div>
                        <% }else if(system_blz_status == 4){ %>
                            <div class="home-main-suspended-box">
                                <div class="main-suspended-info">
                                    <a class="main-suspended-group-info class-loader" href="/painel/beleza/status">
                                        <div class="sys-icon-def">
                                            <img class="sys-icon-size" src="/icons/icon-progama-da-beleza.png" alt="">
                                        </div>
                                        <span>⠀</span>
                                        <span>Solicitação separada <i class="ri-external-link-line"></i></span>
                                    </a>
                                </div>
                            </div>
                        <% }else if(system_blz_status == 5){ %>
                            <div class="home-main-suspended-box">
                                <div class="main-suspended-info">
                                    <a class="main-suspended-group-info class-loader" href="/painel/beleza/status">
                                        <div class="sys-icon-def">
                                            <img class="sys-icon-size" src="/icons/icon-progama-da-beleza.png" alt="">
                                        </div>
                                        <span>⠀</span>
                                        <span>Pedido de cancelamento <i class="ri-external-link-line"></i></span>
                                    </a>
                                </div>
                            </div>
                        <% }else if(system_blz_status == false){ %>
                            <div class="home-main-suspended-box">
                                <div class="main-suspended-info">
                                    <a class="main-suspended-group-info class-loader" href="/painel/beleza/solicitar">
                                        <div class="sys-icon-def">
                                            <img class="sys-icon-size" src="/icons/icon-progama-da-beleza.png" alt="">
                                        </div>
                                        <span>⠀</span>
                                        <span>Solicitação Pendente <i class="ri-external-link-line"></i></span>
                                    </a>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <% } %>

                <% if(GLOBAL_PERM[0].sys_tra_perm_use == 1 || GLOBAL_PERM[0].sys_tra_perm_admin == 1){ %>
                    <div class="suspended-blocks-container">
                        <div class="suspended-container-center">
                            <div class="suspended-title-boxs">
                                <span>Trade MKT</span>
                            </div>
                            
                            <div class="home-main-suspended-box">
                                <div class="main-suspended-info">
                                    <a class="main-suspended-group-info class-loader" href="/painel/trademkt/main">
                                        <div class="sys-icon-def">
                                            <img class="sys-icon-size" src="/icons/icon-trade.png" alt="">
                                        </div>
                                        <span>⠀</span>
                                        <span><b><%= TRADEMKTcount %></b>⠀formulário para responder <i class="ri-external-link-line"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="home-display-grapics-main">
                <% if(GLOBAL_PERM[0].sys_blz_perm_manager == 1){ %>
                    <div class="home-grapics-system">
                        <div class="home-grapics-main">
                            <div class="home-grapics-title"><span>Programa da Beleza</div>
                            <div class="home-grapics-list-chars">
                                <div class="home-grapics-canvas">
                                    <canvas id="grapichs-main-display-beleza-one"></canvas>
                                </div>
                                <div>⠀⠀⠀⠀⠀⠀</div>
                                <div class="home-grapics-canvas">
                                    <canvas id="grapichs-main-display-beleza-two"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
    
                <% if(GLOBAL_PERM[0].sys_cal_perm_admin == 1){ %>
                    <div class="home-grapics-system">
                        <div class="home-grapics-main">
                            <div class="home-grapics-title"><span>Calendario</div>
                            <div class="home-grapics-list-chars">
                                <div class="home-grapics-canvas">
                                    <canvas id="grapichs-main-display-calendar"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>

                <% if(GLOBAL_PERM[0].sys_req_perm_admin == 1){ %>
                    <div class="home-grapics-system">
                        <div class="home-grapics-main">
                            <div class="home-grapics-title"><span>Requisitor</div>
                            <div class="home-grapics-list-chars">
                                <div class="home-grapics-canvas">
                                    <canvas id="grapichs-main-display-requisitor"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>

        <!-- -->

    </section>
</section>
<script src="https://cdn.jsdelivr.net/jquery.marquee/1.3.1/jquery.marquee.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script>

    let arrayConvertGroup = JSON.parse('<%- arrayConvert %>')
    let delayed;

    //Beleza: primeiro grafico
    let arrayConvertOne = arrayConvertGroup.arrayConvertOne

    let monthReference = arrayConvertOne['dateBeleza'].split('-')[0]+'/'+arrayConvertOne['dateBeleza'].split('-')[1]
    delete arrayConvertOne['dateBeleza']

    if($("#grapichs-main-display-beleza-one").is(':visible')){
        const ctx = document.getElementById('grapichs-main-display-beleza-one').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: Object.keys(arrayConvertOne),
                datasets: [{
                    label: ' Mais solicitado',
                    data: Object.values(arrayConvertOne),
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                    x: {
                        ticks: {
                            display: false,
                        },
                    },
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Shampoo mais solicitado ref.: '+monthReference
                    }
                },
            },
        });
    }

    if($("#grapichs-main-display-beleza-two").is(':visible')){
        //Beleza: segundo grafico
        let arrayConvertTwo = arrayConvertGroup.arrayConvertTwo
        delete arrayConvertTwo['dateBeleza']

        //let monthReference = arrayConvertOne['dateBeleza'].split('-')[0]+'/'+arrayConvertOne['dateBeleza'].split('-')[1]
        //delete arrayConvertOne['dateBeleza']
        const ctxTwo = document.getElementById('grapichs-main-display-beleza-two').getContext('2d');
        const myChartTwo = new Chart(ctxTwo, {
            type: 'bar',
            data: {
                labels: Object.keys(arrayConvertTwo),
                datasets: [{
                    label: ' Mais Solicitados',
                    data: Object.values(arrayConvertTwo),
                    backgroundColor: [
                        
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                    ],
                    borderColor: [
                        
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                    x: {
                        ticks: {
                            display: false,
                        },
                    },
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Tratamento mais solicitado ref.: '+monthReference
                    }
                },
                
            }
        });
    }

    if($("#grapichs-main-display-requisitor").is(':visible')){
        const arrayRequsitor = JSON.parse('<%- arrayRequsitor %>')
        //console.log(arrayRequsitor)

        const ctxThree = document.getElementById('grapichs-main-display-requisitor').getContext('2d');
        const myChartctxThree = new Chart(ctxThree, {
            type: 'bar',
            data: {
                labels: Object.keys(arrayRequsitor),
                datasets: [{
                    label: ' Mais solicitados',
                    data: Object.values(arrayRequsitor),
                    backgroundColor: [
                        'rgba(69, 123, 157, 0.2)',
                        'rgba(17, 138, 178, 0.2)',
                        'rgba(181, 131, 141, 0.2)',
                        'rgba(239, 35, 60, 0.2)',
                        'rgba(251, 86, 7, 0.2)',
                        'rgba(155, 99, 132, 0.2)',
                        
                    ],
                    borderColor: [
                        
                        'rgba(69, 123, 157, 1)',
                        'rgba(17, 138, 178, 1)',
                        'rgba(181, 131, 141, 1)',
                        'rgba(239, 35, 60, 1)',
                        'rgba(251, 86, 7, 1)',
                        'rgba(255, 99, 132, 1)',
                        
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                    x: {
                        ticks: {
                            display: false,
                        },
                    },
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Usuarios com mais solicitações ao todo '
                    }
                },
                
            }
        });
    }

    if($("#grapichs-main-display-calendar").is(':visible')){
        //Calendario
        let arrayConvertBox = JSON.parse('<%- arrayCalendar %>')
        let monthReferenceBox = arrayConvertBox['dateCalendar']
        delete arrayConvertBox['dateCalendar']

        let objValues = Object.values(arrayConvertBox).map(convertSetVal);
        function convertSetVal(value){
            return value[1]
        }

        let objRooms = Object.keys(arrayConvertBox).map(convertSetRooms);
        function convertSetRooms(value){
            return value
        }

        let colorsValues = Object.values(arrayConvertBox).map(convertSetColos);
        function convertSetColos(value){
            return value[0]
        }
        
        const boxctx = document.getElementById('grapichs-main-display-calendar').getContext('2d');
        const myChartBox = new Chart(boxctx, {
            type: 'bar',
            data: {
                labels: objRooms,
                datasets: [{
                    label: ' Mais utilizada',
                    data: objValues,
                    backgroundColor: 'transparent',
                    borderColor: colorsValues,
                    borderWidth: 1,
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                    },
                    x: {
                        ticks: {
                            display: false,
                        },
                    },
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Sala mais utilizada '+monthReferenceBox
                    }
                },
                
            }
        });
    }

    
</script>
<script>
    /* $('.home-section-card-cont-users').marquee({
        duration: 40000,
        gap: 200,
    }); */
</script>
<!-- <script>
    var width = $(window).innerWidth() - 20;
    var anim = function(elm)
    {
        if (elm.position().right + 100 > width) elm.css ({right: 0});
        elm.animate ({right: '+=10'}, 400, 'linear', function(){anim (elm)});
    };

    anim($('.home-section-card-box-list'));
</script> -->