<!DOCTYPE html>
<html lang="pt-br">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-13LQT1EZWJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-13LQT1EZWJ');
</script>
<head>
    <link rel="manifest" href="/manifest.json">

    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="JCV Group">
    <meta name="apple-mobile-web-app-title" content="JCV Group">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-navbutton-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="./index.js">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <script src="/serviceWork.js"></script>
    <script src="/sw.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/panel/css/main/index.css">
    <link rel="stylesheet" href="/panel/css/main/home.css">
    <link rel="stylesheet" href="/panel/css/main/spinLoad.css">
    <link rel="stylesheet" href="/panel/css/main/popups.css">
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/jquery.sortElements.js"></script>
    <script src="/js/js.cookie.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/scriptNotifications.js"></script>
    <link rel="shortcut icon" href="/logos/favicon.png" type="image/x-icon">
    <title>Painel | JCV Group</title>
</head>
<script>
    //evita todos os form post do sistema
    if(window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href)
    }

    //Limpa os caches gerados pelo pwa
    self.caches.keys().then(keys => { keys.forEach(key => console.log(key)) })
    self.caches.delete('JCV-GROUP');//Nome do cache
</script>
<body>
<section class="sys-section-loader" id="sys-section-loader">
    <section class="sys-section-load-main">
        <div class="sys-spin-load">
            <div id="loader"></div>
        </div>
    </section>
</section>
<section class="index-section-index-page">
    <section class="index-container-main-menu" id="menu-action-main">
        <div class="menu-container-main">
            <div class="menu-ul-list-container">


                <ul class="menu-ul-list-set-one">
                    <li id="menu-01"><span>Páginas</span><i class="ri-arrow-up-s-line"></i></li>
                    <ul id="sub-01" class="menu-list-set-two" style="display: flex">
                        <li><a class="class-loader" href="/painel"><i class="ri-home-2-line"></i><span>Home</span></a></li>
                        <% if(GLOBAL_PERM[0].sys_cal_perm_use == 1){ %>
                            <li><a class="class-loader" href="/painel/calendario/main"><i class="ri-calendar-2-line"></i><span>Calendário</span></a></li>
                        <% } %>
                        <!-- <li><a class="class-loader" href="/painel/chat"><i class="ri-chat-1-line"></i><span>Chats & Grupos</span></a></li> -->
                    </ul>
                </ul>

                <% if(GLOBAL_PERM[0].sys_blz_perm_use == 1){ %>
                <ul class="menu-ul-list-set-one">
                    <li id="menu-03"><span>Programa da Beleza</span><i class="ri-arrow-down-s-line"></i></li>
                    <ul id="sub-03" class="menu-list-set-two">
                            <li><a class="class-loader" href="/painel/beleza/solicitar"><i class="ri-add-line"></i><span>Nova Solicitação</span></a></li>
                            <li><a class="class-loader" href="/painel/beleza/status"><i class="ri-file-paper-2-line"></i><span>Minha Solicitação</span></a></li>
        
                        <% if(GLOBAL_PERM[0].sys_blz_perm_admin == 1){ %>
                            <li><a class="class-loader" href="/painel/beleza/solicitacoes"><i class="ri-list-ordered"></i><span>Lista de Solicitações</span></a></li>
                        <% } %>

                        <% if(GLOBAL_PERM[0].sys_blz_perm_manager == 1 || GLOBAL_PERM[0].sys_blz_perm_admin == 1){ %>
                            <li><a class="class-loader" href="/painel/beleza/produtos"><i class="ri-ink-bottle-line"></i><span>Produtos</span></a></li>
                        <% } %>
                    </ul>
                </ul>
                <% } %>

                <% if(GLOBAL_PERM[0].sys_req_perm_use == 1){ %>
                <ul class="menu-ul-list-set-one">
                    <li id="menu-02"><span>Requisitor de Materiais</span><i class="ri-arrow-down-s-line"></i></li>
                    <ul id="sub-02" class="menu-list-set-two">       
                            <li><a class="class-loader" href="/painel/requisitor/Novo"><i class="ri-add-line"></i><span>Nova Requisição</span></a></li>
                            <li><a class="class-loader" href="/painel/requisitor/MinhasRequisicoes"><i class="ri-file-paper-2-line"></i></i><span>Minhas Requisições</span></a></li>
                        
                            <% if(GLOBAL_PERM[0].sys_req_perm_admin == 1){ %>
                                <li><a class="class-loader" href="/painel/requisitor/ListaRequisicoes"><i class="ri-list-ordered"></i><span>Lista de Requisições</span></a></li>
                            <% } %>
                        
                            <% if(GLOBAL_PERM[0].sys_req_perm_manager == 1 || GLOBAL_PERM[0].sys_req_perm_admin == 1){ %>
                                <li><a class="class-loader" href="/painel/requisitor/items"><i class="ri-pencil-ruler-line"></i><span>Itens</span></a></li>
                            <% } %>
                    </ul>
                </ul>
                <% } %>

                <% if(GLOBAL_PERM[0].sys_tra_perm_use == 1){ %>
                <ul class="menu-ul-list-set-one">
                    <li id="menu-05"><span>Trade Marketing</span><i class="ri-arrow-down-s-line"></i></li>
                    <ul id="sub-05" class="menu-list-set-two">       
                        <li><a class="class-loader" href="/painel/trademkt/main"><i class="ri-home-2-line"></i><span>Home</span></a></li>

                        <% if(GLOBAL_PERM[0].sys_tra_perm_use == 1){ %>
                            <li><a class="class-loader" href="/painel/trademkt/salesDay"><i class="ri-add-line"></i></i><span>Vendas Diárias</span></a></li>
                        <% } %>

                        <% if(GLOBAL_PERM[0].sys_tra_perm_admin == 1){ %>
                            <li><a class="class-loader" href="/painel/trademkt/visit"><i class="ri-add-line"></i><span>Formulario de Visita</span></a></li>
                        <% } %>
                        
                        <% if(GLOBAL_PERM[0].sys_tra_perm_admin == 1){ %>
                            <li><a class="class-loader" href="/painel/trademkt/formSearch/new"><i class="ri-add-line"></i></i><span>Formulario de Pesquisa</span></a></li>
                            <li><a class="class-loader" href="/painel/trademkt/listTrade"><i class="ri-file-list-3-line"></i><span>Lista Formulário de Pesquisa</span></a></li>
                            <li><a class="class-loader" href="/painel/trademkt/shops"><i class="ri-store-2-line"></i><span>Lojas</span></a></li>
                            <li><a class="class-loader" href="/painel/trademkt/products"><i class="ri-ink-bottle-line"></i><span>Produtos</span></a></li>
                        <% } %>
                    </ul>
                </ul>
                <% } %>

                <% if(GLOBAL_PERM[0].jcv_userCassification == 1){ %>
                <ul class="menu-ul-list-set-one">
                    <li id="menu-04"><span>Configurações do Sistema</span><i class="ri-arrow-down-s-line"></i></li>
                    <ul id="sub-04" class="menu-list-set-two">
                        <li><a class="class-loader" href="/painel/system/users"><i class="ri-braces-line"></i><span>Usuarios & Permissões</span></a></li>
                        <li><a class="class-loader" href="/painel/system/unidades"><i class="ri-building-line"></i><span>Unidades</span></a></li>
                        <li><a class="class-loader" href="/painel/system/departamentos"><i class="ri-door-open-line"></i><span>Departamentos</span></a></li>
                        <li><a class="class-loader" href="/painel/updates/main"><i class="ri-refresh-line"></i><span>Updates</span></a></li>
                        <% if(GLOBAL_PERM[0].sys_forms_perm_admin == 1){ %>
                            <li><a class="class-loader" href="/painel/formularios/main"><i class="ri-file-list-3-line"></i><span>Formulários</span></a></li>
                        <% } %>
                        <li><a class="class-loader" href="/painel/notifications/main"><i class="ri-notification-3-line"></i><span>Notificações</span></a></li>
                    </ul>
                </ul>
                <% } %>

            </div>
            <div class="menu-footer-container">
                <div class="menu-footer-one">
                    <span>Build: 0.1.0</span>
                </div>
            </div>
        </div>
    </section>

    <!-- -->

    <section class="index-container-main-body">
        <section class="index-main-header">
            <header>
                <div class="index-cont-left">
                    <div class="index-header-icon-menu">
                        <i id="menu-action" class="ri-menu-line"></i>
                    </div>
                    <div class="index-header-logo">
                        <a class="class-loader" href="/painel">
                            <img class="header-img-logo" id="header-img-logo" src="/logos/logo-jcv-03.png" >
                        </a>
                    </div>
                </div>
                <div class="index-cont-rigth">
                    <ul class="header-nav-ul">
                        <ul class="header-links-nav">
                            <!-- <li><a title="updates" class="class-loader" href="/painel/updates"><i class="ri-refresh-line"></i></a></li> -->
                            <!-- <li><a title="Logs do sistema" class="class-loader" href="/painel/logs"><i class="ri-alert-line"></i></a></li> -->
                            <li class="notification-container">
                                <a title="Notificações" id="click-open-notifications" href="#">
                                    <i class="ri-notification-3-line" id="icon-color-notify"></i>
                                    <div class="notification-main" id="notification-main"><span id="count-notifications">0</span></div>
                                </a>

                                <div class="notification-container-box" id="notification-container-box">
                                    <ul class="notification-ul-list" id="notification-ul-list">


                                        <!-- <li>
                                            <a class="notification-ul-list-link" href="">
                                                <div class="notification-link-icon">
                                                    <img class="notification-link-icon-image" src="http://localhost:8080/icons/icon-calendar.png" alt="">
                                                </div>
                                                <div class="notification-message">
                                                    <span><b>Calendário:</b> Um novo evento foi registrado onde você é um dos participantes</span>
                                                    <span>Há 2 minutos</span>
                                                </div>
                                            </a>                                            
                                        </li>

                                        <hr style="margin: 19px 0;">
                                        <li>
                                            <a class="notification-ul-list-link" href="">
                                                <div class="notification-link-icon">
                                                    <img class="notification-link-icon-image" src="http://localhost:8080/icons/icon-calendar.png" alt="">
                                                </div>
                                                <div class="notification-message">
                                                    <span><b>Calendário:</b> Um novo evento foi registrado onde você é um dos participantes</span>
                                                    <span>Há 2 minutos</span>
                                                </div>
                                            </a>
                                        </li>
                                        <hr style="margin: 19px 0;">
                                        <li><a class="notification-message-all" href=""><span>Ver todos os eventos</span> <i class="ri-arrow-right-line"></i></a></li> -->
                                    </ul>
                                    <div id="display-not-notification" style="width: 100%;height: 50px;display: none;justify-content: center;align-items: center;">
                                        <span style="font-size: 0.8rem; color: var(--color-one);" >Você não possui notificações. <a class="class-loader" href="/painel/notifications">Exibir notificações</a></span>
                                    </div>
                                </div>
                            </li>
                            <div class="header-separador"></div><!-- separador -->
                        </ul>
                        <ul class="header-nav-dropdown">
                            <li id="dropdown-action" title="Veja mais">
                                <div class="header-info-user">
                                    <div class="header-info-user-img">
                                        <% if(GLOBAL_DASH[7] != null){ %>
                                            <img style="background: transparent;" class="info-user-img" src="<%= GLOBAL_DASH[7] %>" alt="">
                                        <% }else{ %>
                                            <div class="info-user-img"></div>
                                        <% } %>
                                    </div>
                                    <!--  -->
                                    <div class="info-user-infos">
                                        <span><%= GLOBAL_DASH[8] %></span>
                                        <span><%= GLOBAL_DASH[10] %></span>
                                    </div>
                                    <!--  -->
                                    <div class="info-user-icon-down">
                                        <i id="toggle-user" class="ri-arrow-down-s-line"></i>
                                    </div>
                                </div>
                            </li>
                            <li class="li-info-user-drop" id="li-info-user-drop">
                                <ul class="navbar-info-user-drop" id="navbar-info-user-drop">
                                    <li><i class="ri-mail-line"></i><span><%= GLOBAL_DASH[5] %></span></li>
                                    <li>
                                        <% if(GLOBAL_DASH[6] != '') { %>
                                            <i class="ri-account-box-line"></i> #<span><%= GLOBAL_DASH[6] %></span>
                                        <% }else{ %>
                                            <i class="ri-account-box-line"></i> Sem ramal :(
                                        <% } %>
                                    </li>
                                    <li><div class="dropdown-separator"></div><!-- separador --></li>
                                    <li><a class="class-loader" href="/painel/perfil">Conta / Configurações</a></li>
                                    <li>
                                        <span>Dark Mode </span>
                                        <label class="dark-mode-department-button-switch">
                                            <input id="button-action-dark-mode" type="checkbox">
                                            <span class="dark-mode-department-button-slider round"></span>
                                        </label>
                                    </li>
                                    <li><a class="class-loader" href="/painel/logout"><b>Sair</b></a></li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </header>
        </section>

        <!-- Separador -->

        <section class="section-body-main" id="section-body-main">
            <%- include(page) %>
        </section>

    </section>
</section>
<section class="system-section-notification" id="system-section-notification">
    <div class="sys-notifi-container-main" id="sys-notifi-container-main">

        <!-- itens inseridos dinamicamente -->

    </div>
</section>

<% if(GLOBAL_DASH[11] != ''){ %>
    <section class="sys-update-main-main">
        <section class="sys-update-main">
            <section class="sys-update-cont-center">

                
                <form method="post" class="sys-update-center">
                    <div class="sys-update-title-one">
                        <div class="sys-update-icon">
                            <i class="ri-code-s-slash-fill"></i>
                            <span>Atualizações</span>
                        </div>
                    </div>

                    <% GLOBAL_DASH[11].forEach(element => { %>
                        <hr class="sys-update-hr">
                        <div class="sys-update-title-two">
                            <span><%= element.sys_update_nameUpdate %> - <%= element.sys_update_versionUpdate %></span>
                        </div>
                        <div class="sys-update-msg-box">
                            <div id="sys-update-text" class="sys-update-text">
                    
                                <%= element.sys_update_textUpdate %>
                            
                            </div>
                        </div>
                        <div class="sys-update-button">
                            <input hidden type="text" value="<%= element.sys_update_urlRedirect %>" name="param-url-update-<%= element.sys_update_idUp %>">
                            <button class="class-loader" type="submit" formaction="/painel/update/closeUp" name="button-update-single" value="<%= element.sys_update_idUp %>" >Fechar</button>
                        </div>
                    <% }) %>
                    <hr class="sys-update-hr">
                </form>
            </section>
        </section>
    </section>
<% } %>

<!--  -->

<% if(DEFINEpassword != null){  %>
<section class="sys-define-pass-main">
    <div class="sys-define-box">
        <form class="sys-define-form" method="post">
            <div class="sys-define-row">
                <span>Defina uma senha</span>
            </div>

            <div class="sys-define-row">
                <input type="password" name="passOne" id="inputSetPassOne">
            </div>

            <div class="sys-define-row">
                <input type="password" name="passTwo" id="inputSetPassTwo">
            </div>

            <div class="sys-define-row">
                <button formaction="/painel/action/define/pass" value="<%= DEFINEpassword %>" disabled id="button-send" type="submit" name="button-def-pass">Cadastrar</button>
            </div>
        </form>
    </div>
</section>

<script>
    $(function(){

        //$("#sys-update-text").text().replace(/\s/g,'<br/>');
        //Valida so o campo tem a quantidade necessaria
        $("#inputSetPassTwo").keyup(function(){
            let iptOne = $("#inputSetPassOne").val();
            let iptTwo = $("#inputSetPassTwo").val();

            let button = $("#button-send");

            if(iptOne.length == iptTwo.length){
                console.log("BBB")
                button.prop("disabled",false);
                button.css("background","var(--color-one)")
                button.css("color","var(--color-four)")
                button.css("border","1px solid var(--color-one)")
            }else{
                console.log("AAA")

                button.prop("disabled",true);
                button.css("background","transparent")
                button.css("color","var(--color-one)")
                button.css("border","1px solid var(--color-one)")
            }
        }) 
    })
</script>
<% } %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
<script>

    function styleColorSpecial(){
        //Ajustes nas divs que tem alguma caracteristica em especial
        //Aqui é ajustes nas cores não interfere nos valores reais das variaveis

        //Index
        $("#home-section-card-background").css({'background':'var(--background-two)'})
        $("#menu-action-main").css({'background':'var(--background-one)', 'box-shadow':'0 0 4px 0 transparent'})
        $(".title-page-info").css({'box-shadow': '0px 50px 100px 100px var(--color-one-boxs)'})

        //Perfil
        $(".profile-container-main-style").css({'background':'var(--background-two)'})
    }

    let indexColors;
    if(Cookies.get('root-vars-colors') != undefined){
        const arryaColorSet = Cookies.get('root-vars-colors')
        $(':root').css(JSON.parse(arryaColorSet))
        
        $("#button-action-dark-mode").prop('checked', true)
        styleColorSpecial()
        indexColors = 1;
    }else{
        $("#button-action-dark-mode").prop('checked', false)
        $("#header-img-logo").attr('src', '/logos/jcvLogo.png')//Logo escuro
        indexColors = 0;
    }

    
    $("#button-action-dark-mode").click(function(){
        if(indexColors == 0){

            const arryaColorSet = {
                "--background-two": "#2d333b",
                "--color-one": "#cdd9e5",
                "--color-one-btn": "#1c2128",
                "--color-one-boxs": "#1c2128",
                "--color-two": "#eaf5ff",
                "--background-one": "#1c2128", 
                "--color-three": "#545454"
            }

            $(':root').css(arryaColorSet)

            $("#header-img-logo").attr('src', '/logos/logo-jcv-03.png')//Logo claro

            styleColorSpecial()
            Cookies.set('root-vars-colors', JSON.stringify(arryaColorSet))

            indexColors = 1;
        }else{
            $.fn.loadSpin(1)
            Cookies.remove('root-vars-colors');
            window.location.reload();
            indexColors = 0;
        }
    })
    

</script>
<script>

    //Get url start Socketio
    const socket = io('<%- PAINEL_URL %>', {transports: ['polling']})

    /*  */
    /*  */
    /*  */
    socket.emit("getNotificationsAllCount","<%= GLOBAL_DASH[0] %>") 
    setInterval(() => {
        socket.emit("getNotificationsAllCount","<%= GLOBAL_DASH[0] %>")    
    }, 1500);

    //window.notificationApi = 0;
    socket.on("reponseNotificationsAllCount", (dataAll) => {
        //console.log(dataAll)
        //console.log(dataAll.length)

        let idUserGet = parseInt('<%- GLOBAL_DASH[0] %>');

        if(dataAll.length >= 1){
            $("#notification-main").css('display','flex')
            $("#count-notify").text(dataAll.length).css({'font-weight': 'bold'})
            $("#title-box-notf").css({'background':'var(--color-red)'})
            $("#count-notifications").text(dataAll.length)
            $("#icon-color-notify").css({'color': 'var(--color-red)'})
            
            //Validando se esta notificação é valida
            let getValues = Cookies.get("VIEW-NOTIFI-POPUP-"+idUserGet) != undefined ? JSON.parse(Cookies.get("VIEW-NOTIFI-POPUP-"+idUserGet)) : [];//Validando se este cookie existe

            //Passando por cada notificação
            dataAll.forEach(element => {
                
                //Validando se o valor deste cookie tem o id da notificação
                if(getValues == []){
                    //Este cookie nao tem valor
                    Cookies.set("VIEW-NOTIFI-POPUP-"+idUserGet, '[]', { expires: 2 })
                }else{
                    //Ele tem valor
                    //Validando se esta notificação já foi lida
                    if(getValues.indexOf(element.jcv_notifications_id) > -1){
                        //Notificação já lida
                        //console.log('este valor ja esta: '+getValues)
                    }else{
                        //Notificação não lida
                        //console.log('este valor não esta')
                        //Adicionando esta notificação como já lida
                        let newValuesArray = getValues
                        newValuesArray.push(element.jcv_notifications_id)//Adicionando o id da notificação
                        Cookies.set("VIEW-NOTIFI-POPUP-"+idUserGet, JSON.stringify(newValuesArray), { expires: 2 })
                        //Notificação
                        notificationAPIaction(element.jcv_notifications_title,element.jcv_notifications_message,element.jcv_notifications_link)
                        //console.log('notification ja adicionado')
                    }
                    //console.log(Cookies.get("VIEW-NOTIFI-POPUP"))
                }
            });

            //console.log(Cookies.get("VIEW-NOTIFI-POPUP"))
            //Cookies.remove("VIEW-NOTIFI-POPUP")
            //Cookies.remove(("VIEW-NOTIFI-POPUP"))
            /* if(Cookies.get("VIEW-NOTIFI-POPUP") != ''){
                //Cookies
                
                dataAll.forEach(element => {
                    //Exibindo as notificações
                    console.log(element.jcv_notifications_id)
                });
                Cookies.remove(("VIEW-NOTIFI-POPUP"))
            }else{
                //Cookies.set("VIEW-NOTIFI-POPUP", true)
            } */

            /* console.log('aaaa')
            notificationAPIaction('Teste do titulo','Olá aqui é uma notificação do api notifications','https://www.javascripttutorial.net/web-apis/javascript-notification/')
            Cookies.set("VIEW-NOTIFI-POPUP", true) */
        }
    })

    $("#click-open-notifications").click(function(){
        $("#display-not-notification").css('display','flex')
        $("#notification-container-box").toggle()

        $("#icon-color-notify").css({'color': 'var(--color-one)'})

        $("#notification-ul-list").empty()
        socket.emit("getNotificationsAll","<%= GLOBAL_DASH[0] %>")
        
        actionsNotifications ()
    })

    function actionsNotifications (){

        socket.on("reponseNotificationsAll", (dataGet) => {
            $("#notification-ul-list").empty()
            if(dataGet != ''){
                //Exibe as notificações
                
                $("#notification-main").css('display','none')//Desabilitando as notificações numbers
                //Desabilita a box de nenhuma notificação
                $("#display-not-notification").css('display','none')

                //notificationApi = 0
                //Confirm que o usuario leu
                socket.emit("okayNotifications", {dataGet: dataGet, idUser: "<%= GLOBAL_DASH[0] %>"})

                let arrayApps = {
                    JCVMOD02: 'icon-progama-da-beleza.png',
                    JCVMOD03: 'icon-requisitor.png',
                    JCVMOD04: 'icon-calendar.png',
                    JCVMOD05: 'icon-trade.png',
                }

                dataGet.forEach(element => {

                    let hourCreate = moment(element.jcv_notifications_created.split(' ')[0],'HH:mm')
                    let hourNow = moment()

                    let agoTime = moment(hourCreate - hourNow).format('m[ minuto(s) atrás.]')

                    $("#notification-ul-list").append(`
                    <li>
                        <a class="class-loader notification-ul-list-link" href="${element.jcv_notifications_link}">
                            <div class="notification-link-icon">
                                <img class="notification-link-icon-image" src="${arrayApps[element.jcv_notifications_type] == undefined ? 'https://jcv.net.br/logos/pwa-192.png' : 'https://jcv.net.br/icons/'+arrayApps[element.jcv_notifications_type] }" >
                            </div>
                            <!--  -->
                            <div class="notification-message">
                                <span><b>${element.jcv_notifications_title}</b> ${element.jcv_notifications_message}</span>
                                <span>Agora a pouco</span>
                            </div>
                        </a>                                            
                    </li>
                    <hr style="margin: 19px 0;">
                    `)

                    
                });

                $("#notification-ul-list").append('<li><a class="class-loader notification-message-all" href="/painel/notifications"><span>Ver todos as notificações</span> <i class="ri-arrow-right-line"></i></a></li>')
                $("#notification-main").css('display','none')

                //console.log('aaaaaa')
                //view++
            }else{
                //Nenhuma notificação salva
                //console.log('bbbbbbb')
            }
        })
    }

    //notificationAPIaction('Teste do titulo','Olá aqui é uma notificação do api notifications','https://www.javascripttutorial.net/web-apis/javascript-notification/')
</script>

</body>
</html>