<link rel="stylesheet" href="/panel/css/beleza/compilateInfo.css">

<script src="/js/jquery-paginate.js"></script>

<section class="compilate-container-main">
    <section class="compilate-container-page">
        <div class="compilate-container-identify-page">
            <span>
                <% if(getUUIDcompilates[0].jcv_blz_compilate_status == 3){ %>
                    Expedição
                <% }else if(getUUIDcompilates[0].jcv_blz_compilate_status == 4){ %>
                    Expedição
                <% }else{ %>
                    Gestor
                <% } %>
            
            </span>
            <span>/ Programa da Beleza</span>
        </div>        
        <form class="compilate-container-list-all" method="post">
            <div class="compilate-container-info-comp">
                <span>Gestor <b><%= getUUIDcompilates[0].jcv_userNamePrimary %></b></span>
                <span>Criado ás: <b><%= getUUIDcompilates[0].jcv_blz_compilate_generate_date %></b></span>

                <% 
                                        
                let newObjStatus = {
                    0: '<b>Pendente</b>',
                    1: '<b>Solicitado</b>',
                    2: '<b style="color: red;">Cancelado</b>',
                    3: '<b>Em separação</b>',
                    4: '<b>Separado</b>',
                    5: '<b>Despachado</b>',
                    6: '<b>Recebido pelo gestor</b>',
                    7: '<b>Finalizado</b>'
                }

                %>

                <span>Status: <b><%- newObjStatus[getUUIDcompilates[0].jcv_blz_compilate_status] %></b></span>
                <span>Separado por: <b><%= userSeparador == '' ? 'Sem dados..' : userSeparador %></b></span>
                <span>Mês de referencia: <b>(<%= getUUIDcompilates[0].jcv_blz_compilate_month_reference %>)</b></span>
            </div>

            <div class="compilate-container-info-txt">
                <span>Lista de Usuarios</span>
            </div>

            <div class="compilate-container-info-list">
                <div class="compilate-container-info-ul-main">

                    <% let compilateData = JSON.parse(getUUIDcompilates[0].jcv_blz_compilate_array_data) %>

                    <% compilateData.forEach(element => { %>
                        <div class="compilate-container-info-box">
                            <span><b style="text-transform: uppercase;"><%= element.blzUserName %></b></span>
                            <span><b>Shampoo:</b> <%= element.blzShampoo.split(' - ')[1] %></span>
                            <span><b>Tratamento:</b> <%= element.blzTreatment.split(' - ')[1] %></span>
                            <span><b>Gerado:</b> <%= element.blzRequestDate %></span>
                        </div>
                    <% }) %>
                </div>
            </div>

            <div class="compilate-container-info-actions">

                <% if(getUUIDcompilates[0].jcv_blz_compilate_status == 3){ %>
                    <div class="compilate-container-info-actions-cont">
                        <input type="text" required name="button-action-expedicao-obs" placeholder="Descreva como foi feito o despache..: CORREIOS, TRANSPORTADORA NOTA 123456">
                        <button type="submit" value="<%= getUUIDcompilates[0].jcv_blz_compilate_uuid %>" name="button-action-expedicao-despacho" formaction="/painel/beleza/compilate/action/despacho">Despacho Realizado</button>
                    </div>
                <% }else if(getUUIDcompilates[0].jcv_blz_compilate_status == 5){ %>
                    <div class="compilate-container-info-actions-cont">
                        <button class="class-loader" type="submit" value="<%= getUUIDcompilates[0].jcv_blz_compilate_uuid %>" name="button-action-expedicao-coletar" formaction="/painel/beleza/compilate/action/coletar">Coletar Pedidos</button>
                    </div>
                <% } %>
            </div>
        </form>
    </section>
</section>