<style>
    :root{
        --color-two: #222224;
    }
    *{
        margin: 0;
        padding: 0;
        line-height: 1.4em;
        box-sizing: border-box;
        font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        color: #4B4B4D;
    }

    /*  */
    .model-main-center{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .model-title{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .model-title span:nth-child(1){
        font-size: 1.4rem;
        margin: 19px 0;
    }


    /* Model Box */
    .model-sectiom-main{
        width: 100%;
        display: block;
    }


    /* BOX INDIVIDUAL */
    .model-box-style{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* header */
    .model-box-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 13px 0;
    }
    /* TABLE MAIN */
    
    .model-box-main{
        display: flex;
        flex-direction: column;
        margin: 17px 0;
    }
    .model-box-main span:nth-child(1){
        padding: 4px 0;
        font-size: 1.5rem;
    }
    .model-box-main span:nth-child(2){
        padding: 4px 0;
        font-size: 0.9rem;
    }

    /* TABLE */
    .model-box-table{
        border-collapse: collapse;
        width: 100%;
    }
    
    .model-box-table thead tr th{
        font-size: 0.7rem;
        border: 1px solid #222224;
        font-size: 0.8rem;
        padding: 6px 7px;
        text-align: left;

    }
    .model-box-table thead tr th:nth-child(1){
        width: 10%;
    }
    .model-box-table thead tr th:nth-child(2){
        width: 20%;
    }
    .model-box-table thead tr th:nth-child(3){
        width: 20%;
    }
    .model-box-table thead tr th:nth-child(4){
        width: 10%; 
    }

    .model-box-table tbody tr td{
        border: none;
        border: 1px solid #222224;
        text-align: left;
        padding: 10px 6px;
        color: var(--color-one);
        font-size: 0.8rem;
    }

    /* QRS */
    .model-box-main-qrs{
        display: flex;
        align-items: center;
    }
    .model-box-main-qrs-scann{
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        white-space: nowrap;
        margin: 0 24px;
    }
    .model-box-main-qrs-scann img{
        width: 100%;
        object-fit: contain;
    }
    .model-box-main-qrs-scann span{
        font-size: 0.7rem;
        margin-top: 7px;
    }

    /* ETIQUETAS */
    .model-etiqueta-box{
        width: 260px;
        padding: 5px;
        display: flex;
        justify-content: end;
        border-radius: 2px;
        border: 2px solid var(--color-two);
        margin: 24px;
    }
    .model-box-etiquetas{
        width: 100%;
        display: none;
        justify-content: center;
        flex-wrap: wrap;
    }
    .model-etiqueta-info{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .model-etiqueta-info span{
        font-size: 0.9rem;
        color: var(--color-one);
        white-space: normal;
    }

    .model-etiqueta-box-qr{
        position: absolute;
        width: 40px;
    }
    .model-etiqueta-box-qr img{
        width: 100%;
        height: min-content;
        object-fit: contain;
    }

    @page {
        margin: 20px;
    }
    
    @media print{
        /* use your css selector */    
        div{ 
            page-break-inside: avoid;
        }
    } 

</style>
<!--  -->
<body>
    <section class="model-main-center">
        <div class="model-title">
            <span>Lista de etiquetas - Programa da Beleza | Gerado ás: <b><%= dateGenerate %></b></span>
        </div>

        <!--  -->
        <hr style="width: 100%; margin: 10px 0;">
        <!--  -->

        <section class="model-sectiom-main">

            <% getCompilado.forEach(element => { %>

                <% let dataConvert = JSON.parse(element.jcv_blz_compilate_array_data) %>

                <div class="model-box-style">
                    <div class="model-box-header">
                        <div class="model-box-main">
                            <span><%= element.jcv_userNamePrimary %></span>
                            <span><b><%= dataConvert.length %> solcitiação(ões)</b> (<%= element.jcv_blz_compilate_month_reference %>) </span>
                        </div>
                        <!--  -->
                        <div class="model-box-main-qrs">
                            <div class="model-box-main-qrs-scann">
                                <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=<%= PAINEL_URL+'/painel/beleza/compilate/'+element.jcv_blz_compilate_uuid %>">
                                <span><b>Gestor Escaneie</b></span>
                            </div>
                            <div class="model-box-main-qrs-scann">
                                <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=<%= PAINEL_URL+'/painel/beleza/compilate/'+element.jcv_blz_compilate_uuid %>">
                                <span><b>Expedição Escaneie</b></span>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    
                    <!--  -->
                    <hr style="border: 0;">
                    <!--  -->
                    <div class="model-box-etiquetas">

                        <% dataConvert.forEach(elementTwo => { %>
                            <div class="model-etiqueta-box pagebreak">
                                <div class="model-etiqueta-info">
                                    <span>Solicitante: <b><%= elementTwo.blzUserName %></b></span>
                                    <span>Gestor: <b><%= element.jcv_userNamePrimary %></b></span>
                                    <br>
                                    <span><b><%= elementTwo.blzShampoo %></b></span>
                                    <span><b><%= elementTwo.blzTreatment %></b></span>
                                    <span style="padding-top: 7px;">REF: (<%= element.jcv_blz_compilate_month_reference %>)</span>
                                </div>
                                <div class="model-etiqueta-box-qr">
                                    <!-- <img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=https://www.codigofonte.com.br"> -->
                                </div>
                            </div>
                        <% }) %>

                    </div>
                    <!--  -->
                    <hr style="border: 0; border-bottom: 2px dashed var(--color-two); background: transparent;">
                    <!--  -->
    
    
    
                </div>

            <% }) %>
            


        </section>
    </section>
</body>