<link rel="stylesheet" href="/panel/css/beleza/status.css">
<section class="beleza-view-main-section">
    <section class="beleza-view-image-display">
        <img class="beleza-view-img-desktop" src="/panel/img/image-solicitar-desktop.jpg" alt="" srcset="">
        <img class="beleza-view-img-mobile" src="/panel/img/image-solicitar-mobile.jpg" alt="" srcset="">
    </section>
    <section class="beleza-view-section-display-body">
        <div class="beleza-view-display-solicitar">
            <div class="beleza-view-container-box">
                <div class="beleza-view-title-box"><span>Programa da Beleza</span></div>
                <div class="beleza-view-info">

                    <%
                    
                    let newObjStatus = {
                        0: 'Pendente',
                        1: '<span style="color: #10772a;">Solicitação concluída <i class="ri-check-double-line"></i></span><span><b>'+GLOBAL_DASH[9]+'</b>, veja abaixo os produtos do seu benefício referente ao mês <b>('+mesReferencia+')</b></span>',
                        2: 'Cancelado',
                        3: 'Em separação',
                        4: 'Separado',
                        5: 'Despachado',
                        6: 'Recebido pelo gestor',
                        7: 'Finalizado'
                    }
                    
                    
                    %>

                    <%- newObjStatus[requestUser[0].sys_blz_requestStatus] %>

                    <!-- <% if(requestUser[0].sys_blz_requestStatus == 2){ %>
                        <span style="color: #10772a;">Solicitação concluída <i class="ri-check-double-line"></i></span>
                        <span><b><%= GLOBAL_DASH[9] %></b>, veja abaixo os produtos do seu benefício referente ao mês <b>(<%= mesReferencia %>)</b></span>
                    <% }else if(requestUser[0].sys_blz_requestStatus == 4){ %>
                        <span style="color: #10772a;">Solicitação separada!</span>
                        <span><b><%= GLOBAL_DASH[9] %></b>, veja abaixo os produtos do seu benefício referente ao mês <b>(<%= mesReferencia %>)</b></span>
                    <% }else if(requestUser[0].sys_blz_requestStatus == 5){ %>
                        <span style="color: #a41623;">Pedido de cancelamento..</span>
                        <span><b><%= GLOBAL_DASH[9] %></b>, veja abaixo os produtos do seu benefício referente ao mês <b>(<%= mesReferencia %>)</b></span>
                    <% } %>

                    -->
                </div>
                <div class="beleza-view-container-body">
                    <form class="beleza-view-form" action="">
                        <div class="beleza-view-form-row-large">
                            <div style="max-width: 120px; max-height: 120px; display: flex; justify-content: center;">
                                <img style="width: 100%; object-fit: contain;" src="<%= verifyProd[0].jcv_sys_products_img %>" alt="">
                            </div>
                            <span><%= verifyProd[0].jcv_sys_products_name %></span>
                        </div>

                        <div class="beleza-view-form-row-large">
                            <div style="max-width: 120px; max-height: 120px; display: flex; justify-content: center;">
                                <img style="width: 100%; object-fit: contain;" src="<%= verifyProd[1].jcv_sys_products_img %>" alt="">
                            </div>
                            <span><%= verifyProd[1].jcv_sys_products_name %></span>
                        </div>
                        <% if(requestUser[0].sys_blz_requestStatus == 1){ %>
                        <div class="beleza-view-form-row-action">
                            <span id="click-open-cancel" class="beleza-view-link-normal">Refazer Solicitação</span>
                        </div>
                        <% } %>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="beleza-cancel-main" id="beleza-cancel-main">
    <section class="beleza-cancel-cont-main">
        <section class="beleza-cancel-center-box">
            <div class="beleza-cancel-close">
                <i id="click-close-cancel" class="ri-close-line"></i>
            </div>
            <div class="beleza-cancel-msg">
                <span>Lembre-se, você só pode cancelar apenas DUAS vezes, ou seja, você pode refazer sua solicitação apenas DUAS vezes por mês
                </span>
            </div>
            <form class="beleza-cancel-button" action="./request/cancel" method="post">
                <button class="class-loader" type="submit" value="<%= idRequest %>" name="buttonIDorder">Refazer solicitação</button>
            </form>
        </section>
    </section>
</section>
<script>
    $(function(){
        $("#click-open-cancel").click(function(){
            $("#beleza-cancel-main").fadeIn();
        })

        $("#click-close-cancel").click(function(){
            $("#beleza-cancel-main").fadeOut();
        })
    })
</script>